@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h1>@Html.DisplayFor(model => model.Name)</h1>
        </dd>
        <ul>
            <li><h5>Membership Type: @Model.MembershipType.Name</h5></li>
            @if (@Model.Birthdate.HasValue)
            {
                <li><h5>Birthdate: @Model.Birthdate</h5></li>
            }
        </ul>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
